<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Inventario</h3>
            </div>
            <div class="col text-right">
<!--              TODO: POST INVENTORY-->
              <a class="btn btn-insert">Agregar Inventario</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Unidades</th>
              <th scope="col">Nombre de Item</th>
              <th scope="col">Descripción</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody *ngFor="let inventory of inventories; index as i">
            <tr>
              <td>{{ inventory.id }}</td>
              <td>
                <i class="fas fa-shopping-basket text-success mr-3"></i>{{ inventory.total }}
              </td>
              <td>

                <i class="fas fa-pencil-ruler text-primary mr-3"></i>{{ inventory.itemName }}
              </td>
              <td class="truncate-text">
                <i class="fas fa-book-open text-primary mr-3"></i>{{ inventory.description }}
              </td>
              <td>
                <a (click)="openInventoryUpdateModal(inventory)" class="btn btn-sm btn-primary">
                  Editar
                </a>
              </td>
              <td>
<!--                TODO: DELETE Inventory-->
                <a (click)="openDeleteModal(inventory.id)" class="btn btn-sm btn-danger">
                  Eliminar
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Items </h3>
            </div>
            <div class="col text-right">
<!--              TODO: POST ITEM-->
              <a class="btn btn-insert">Agregar Item</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col"></th>
            </tr>
            </thead>
            <tbody *ngFor="let item of items; index as i">
            <tr>
              <td>
                {{ item.id }}
              </td>
              <td class="truncate-text">
                {{ item.name }}
              </td>
              <td>
                <a (click)="openItemUpdateModal(item)" class="btn btn-sm btn-primary">
                  Editar
                </a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" [ngStyle]="{'display': showInventoryModal ? 'block' : 'none'}">
  <div class="modal-overlay">

  </div>
  <div class="card-body">
    <form>
      <h6 class="heading-small text-muted mb-4">Información de Inventario</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-item">Item</label>
              <select id="input-item" class="form-control form-control-alternative" [(ngModel)]="selectedItemId">
                <option *ngFor="let item of items" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label class="form-control-label" for="input-total">Tipo de actualización</label>
              <select id="input-total" class="form-control form-control-alternative" (change)="onUpdateTypeChange($event.target.value)">
                <option value="venta">Venta</option>
                <option value="restock">Re-Stock</option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group" *ngIf="updateType === 'venta'">
              <label class="form-control-label"  for="input-total-sales">Cantidad de Unidades vendidas</label>
              <input type="number" id="input-total-sales" class="form-control form-control-alternative" placeholder="Unidades vendidas" autocomplete="off">
            </div>
            <div class="form-group" *ngIf="updateType === 'restock'">
              <label class="form-control-label" for="input-total-restock">Cantidad de Unidades nuevas</label>
              <input type="number" id="input-total-restock" class="form-control form-control-alternative" placeholder="Unidades nuevas" autocomplete="off">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label class="form-control-label" for="input-description">Descripción</label>
              <textarea id="input-description" class="form-control form-control-alternative" placeholder="Descripción" [value]="description"></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="salesError" class="text-center text-danger mb-4">{{ salesErrorMessage }}</div>
    <div class="col text-mg-left">
      <a (click)="closeInventoryModal()" class="btn btn-danger">Cerrar</a>
      <a (click)="updateInventory()" class="btn btn-success">Actualizar</a>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display': showItemModal ? 'block' : 'none'}">
  <div class="modal-overlay">

  </div>
  <div class="card-body">
    <form>
      <h6 class="heading-small text-muted mb-4">Información de Item</h6>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-group">
                <label class="form-control-label" for="input-item-name">Nombre</label>
                <input type="text" id="input-item-name" class="form-control form-control-alternative" placeholder="Nombre" autocomplete="off" [value]="itemName">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="col text-mg-left">
      <a (click)="closeItemModal()" class="btn btn-danger">Cerrar</a>
      <a (click)="updateItem()" class="btn btn-success">Actualizar</a>
    </div>
  </div>
</div>

<div class="modal" [ngStyle]="{'display': showDeleteModal ? 'block' : 'none'}">
  <div class="modal-overlay"></div>
  <div class="card-body">
    <form>
      <h3 class="heading-large text-muted mb-4">¡Advertencia!</h3>
      <h3 class="text-danger">Estás a punto de eliminar el siguiente elemento. Por favor, ten cuidado y confirma tu decisión escribiendo "confirmar".</h3>
      <div class="pl-lg-4">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <div class="form-group">
                <label class="form-control-label" for="input-item-name">Continuar?</label>
                <input type="text" id="input-confirm-delete" class="form-control form-control-alternative" placeholder="confirmar" autocomplete="off">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div *ngIf="deleteError" class="text-center text-danger mb-4">{{ deleteErrorMessage }}</div>
    <div class="col text-mg-left">
      <a (click)="closeDeleteModal()" class="btn btn-dark">Cancelar</a>
      <a (click)="deleteElement()" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div>
