<div class="header pb-5 pt-5 pt-lg-8  align-items-center" style="min-height: 100px; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-info opacity-8"></span>
  <!-- Header container -->
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 mb-5 mb-xl-0">

    </div>
    <div class="col-xl-4 mb-5 mb-xl-0" *ngIf="user">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a>
                <img src="assets/img/theme/profilePicture_m.png" class="rounded-circle" alt="profile picture">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
          </div>
        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
              </div>
            </div>
          </div>
          <div>
            <h3 class="text-center">
              {{ user.firstName }}<span class="font-weight-light">, {{ user.age }}</span>
            </h3>
            <div class="h5 font-weight-300 text-center">
              <i class="ni location_pin mr-2"></i>Costa Rica.
            </div>
            <div class="h5 mt-4 text-center">
              <i class="ni business_briefcase-24 mr-2"></i>Administrador de Inventario - Empresa Farmaticas
            </div>
          </div>
          <hr class="my-4" />
          <div class="pl-lg-4">
            <h6 class="heading-small text-muted mb-4 ">Información Personal</h6>
            <div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Nombre</label>
                    <h3>
                      {{ user.firstName }}
                    </h3>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Apellidos</label>
                    <h3>
                      {{ user.lastNames}}
                    </h3>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Edad</label>
                    <h3>
                      {{ user.age }}
                    </h3>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label">Teléfono</label>
                    <h3>
                      {{ user.phone }}
                    </h3>
                  </div>
                </div>
              </div>

            </div>
            <hr class="my-4" />
            <h6 class="heading-small text-muted mb-4">Información del sistema</h6>
            <div>
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label class="form-control-label">Correo Electrónico</label>
                    <h3>
                      {{ user.email }}
                    </h3>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label">Estado</label>
                    <h3>
                      {{ user.state }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
    </div>
  </div>
</div>
