<div class="header bg-gradient-indigo pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div class="col-xl-3 col-lg-6">
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Actividad</h5>
                  <span class="h2 font-weight-bold mb-0">100 Empleados</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-building"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-user"></i> 12</span>
                <span class="text-nowrap">Empleados en el sistema</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Rol actual</h5>
                  <span class="h2 font-weight-bold mb-0">Administrador</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-user"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-pen"></i> Permisos</span>
                <span class="text-nowrap">Escritura y lectura de inventario</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6">

        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Resumen de Inventario</h3>
            </div>
            <div class="col text-right">
              <a [routerLink]="['/tables']" class="btn btn-sm btn-primary">Ver Inventario Completo</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Fecha de Expiración</th>
              <th scope="col">Precio</th>
              <th scope="col">Unidades</th>
              <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                nombre
              </th>
              <td>
                Fecha de Expiración
              </td>
              <td>
                Precio
              </td>
              <td>
                <i class="fas fa-arrow-up text-success mr-3"></i> Unidades
              </td>
              <td>
                Total
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Empleados </h3>
            </div>
            <div class="col text-right">
              <a [routerLink]="['/users']" class="btn btn-sm btn-primary">Ver todos</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Correo</th>
              <th scope="col">Rol</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                Nombre
              </th>
              <td>
                Correo
              </td>
              <td>
                Rol
<!--                <div class="d-flex align-items-center">-->
<!--                  <span class="mr-2">60%</span>-->
<!--                  <div>-->
<!--                    <div class="progress">-->
<!--                      <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Historial de cambios</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Ver Historial Completo</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Usuario</th>
              <th scope="col">Descripción</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">
                Item
              </th>
              <td>
                Usuario
              </td>
              <td>
                Descripción
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
